<!-- <p>user-account works!</p> -->

<div class="container-fluid pt-3">
    <h1 class="fw-semi-bold fs-300">My Account</h1>
    <!-- <ul class="list-style-none ps-0 line-height-400" *ngIf="userProfile">
        <li class="fw-semi-bold fs-200">{{userProfile?.lastName | titlecase }} {{userProfile?.lastName | titlecase}}
        </li>
        <li>{{userProfile?.gender | titlecase}}</li>
        <li>{{userProfile?.nationality | titlecase}}</li>
        <li><i class="fas fa-phone me-2"></i>{{userProfile?.phone | titlecase }}</li>
        <li><i class="fas fa-envelope me-2"></i>{{userProfile?.user?.email | titlecase }}</li>
        <li> <i class="fas fa-map-marker-alt me-2"></i>{{userProfile?.address?.addressLine | titlecase }}
            <span *ngIf="userProfile?.address?.city">, {{userProfile.address.city | titlecase }}</span> <span
                *ngIf="userProfile?.address?.state">, {{userProfile?.address?.state | titlecase }}</span>
            <span *ngIf="userProfile?.address?.country">, {{userProfile?.address?.country | titlecase }}</span>.
        </li>
        <li>{{userProfile?.address?.zipCode}}</li>
    </ul> -->

    <div class="profile-image-wrap mb-1">
        <img [src]="userProfile?.profileImage" alt="" class="img-fluid">
    </div>
    <small *ngIf="isUploading">Uploading...</small>
    <!-- <form #uploadImageForm="ngForm">
        <input type="file" name="" id="" #profileImage name="profileImage" [(ngModel)]="model.profileImage" (change)="onSelectImage($event)">
    </form> -->
    <div class="mb-4">
        <input type="file" name="" id="" #profileImage name="profileImage" (change)="onSelectImage($event)">
    </div>



    <form [formGroup]="UserProfileForm" class="mb-5" (ngSubmit)="saveProfile(UserProfileForm.value)">

        <div class="row">
            <div class="col-sm-6 mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="col-sm-6 mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="col-sm-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" readonly [(ngModel)]="userEmail" name="userEmail"
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-sm-6 mb-3">
                <label for="phone" class="form-label">Phone number</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
            </div>
            <div class="col-sm-6 mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select form-control" id="gender" formControlName="gender">
                    <option *ngFor="let item of gender" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="col-sm-6 mb-3">
                <label for="dob" class="form-label">Date of birth</label>
                <input type="date" class="form-control" id="dob" formControlName="dob">
            </div>
            <div class="col-sm-6 mb-3">
                <label for="nationality" class="form-label">Nationality</label>
                <input type="text" class="form-control" id="nationality" formControlName="nationality">
            </div>
            <ng-container formGroupName="address">
                <div class="col-sm-6 mb-3">
                    <label for="addressLine" class="form-label">Address line</label>
                    <input type="text" class="form-control" id="addressLine" formControlName="addressLine">
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="col-sm-3 mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" formControlName="state">
                </div>
                <div class="col-sm-3 mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select form-control" id="country" formControlName="country">
                        <option value="" selected>Select country</option>
                        <option *ngFor="let item of countryList" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </ng-container>
        </div>
        <button class="btn btn-primary">Save profile</button>

    </form>




    <table class="table table-striped table-hover table-sm fs-100">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="py-3">S/N</th>
                <th scope="col" class="py-3">Product image</th>
                <th scope="col" class="py-3">Title</th>
                <th scope="col" class="py-3">Price</th>
                <th scope="col" class="py-3">Quantity</th>
                <th scope="col" class="py-3">Cost</th>
                <th scope="col" class="py-3">Order date</th>
                <th scope="col" class="py-3">Updated date</th>
                <th scope="col" class="py-3"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList; let i = index">
                <th scope="row">{{i+1}}.</th>
                <td>
                    <div style="max-width: 30px; max-height: 30px; overflow: hidden;">
                        <img [src]="product.productImage" alt="" class="img-fluid">
                    </div>
                </td>
                <!-- <td>Silver stones arabic lace</td> -->
                <td>{{ product.title | titlecase }}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.cost}}</td>
                <td>{{ product.orderDate | date}}</td>
                <td>{{ product.updatedDate | date}}</td>
                <td class="text-end">
                    <div class="btn-group">
                        <button class="btn-success btn btn-sm"
                            [routerLink]="['/admin/product-categories/',product.id ]">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button class="btn-danger btn btn-sm" (click)="onDeleteCategory(product.id)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>