@use "../_partials/mixins";

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="date"],
textarea,
select {
  &.form-control,
  &.form-select {
    border: 1px solid var(--clr-accent-50);
    border-radius: var(--size-250);
    font-size: var(--fs-100);
    &:focus {
      background-color: unset;
      outline: 0;
      box-shadow: none;
      border: 1px solid var(--clr-primary-500);
    }
  }
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="date"],
select, .form-btn {
  height: 40px;
  @include mixins.minmq(50em) {
    height: 45px;
  }
}