<!-- <p>todo works!</p> -->
<!-- <h1>My Todos</h1> -->

<div class="d-flex align-items-center justify-content-between flex-wrap py-3">
  <h1 class="fw-semi-bold fs-300">My Todos</h1>
  <div>
    <app-modal-trigger-button
      (triggerEvent)="AddTodo($event)"
      [btnTitle]="btnTitle"
      [btnType]="btnType"
    ></app-modal-trigger-button>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-hover table-sm fs-100">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="py-3">S/N</th>
        <th scope="col" class="py-3">Todo</th>
        <th scope="col" class="py-3">Description</th>
        <th scope="col" class="py-3">Created date</th>
        <th scope="col" class="py-3">Updated date</th>
        <th scope="col" class="py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todoList$ | async; let i = index">
        <th scope="row">{{ i + 1 }}.</th>
        <th scope="row">{{ todo?.title }}</th>
        <td>{{ todo?.description }}</td>
        <td>{{ todo?.createdDate | date }}</td>
        <td>{{ todo?.updatedDate | date }}</td>
        <td>
          <div class="btn-group">
            <button
              class="btn-success btn btn-sm"
              (click)="UpdateTodo(todo)"
            >
              <i class="fas fa-pen"></i>
            </button>
            <button
              class="btn-danger btn btn-sm"
              (click)="onDeleteTodo(todo._id)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
