<!-- <p>signup works!</p> -->
<div class="container">
  <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
    <div class="form-card card mt-5">
      <div class="card-header fw-bold fs-300 py-3">Create an Account</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="Email" class="form-label">Email</label>
          <input type="email" class="form-control" id="Email" formControlName="Email"
            [ngClass]="{'is-invalid': getEmail?.touched && getEmail?.invalid}"
            aria-describedby="email" required email />
          <span class="invalid-feedback">
            <small id="emailErrorMsg" class="form-text text-danger"
              *ngIf="getEmail?.hasError('required')">Email is
              required.
            </small>
            <small id="emailErrorMsg" class="form-text text-danger"
              *ngIf="getEmail?.hasError('email')">You entered an invalid email.
            </small>
          </span>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" formControlName="Password"
            [ngClass]="{'is-invalid': getPassword?.touched && getPassword?.invalid}"
            formControlName="Password" required />
          <span class="invalid-feedback">
            <small id="passwordErrorMsg" class="form-text text-danger"
              *ngIf="getPassword?.hasError('required')">Password is
              required.
            </small>
            <small id="passwordErrorMsg" class="form-text text-danger"
              *ngIf="getPassword?.hasError('minlength')">Password must contain a minimum of 5 characters.
            </small>
          </span>
        </div>
        <div class="mb-3">
          <label for="ConfirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword"
            [ngClass]="{'is-invalid': getConfirmPassword?.touched && getConfirmPassword?.invalid}" />
          <small id="confirmPasswordErrorMsg" class="form-text text-danger invalid-feedback">Passwords
            must
            match.</small>
        </div>
      </div>
      <div class="card-footer d-grid">
        <button class="btn btn-primary form-btn" [disabled]="SignUpForm.invalid">Create account</button>
      </div>
    </div>
    <p class="mt-3 fs-100">
      Already have an account?
      <a [routerLink]="['/auth']" class="text-decoration-none fw-semi-bold">Login</a>
    </p>
  </form>
</div>