<!-- <p>add-todo works!</p> -->


<form #createTodoForm='ngForm' (ngSubmit)="createTodoForm.valid && createTodo()">
    <div class="modal-header">
        <h4 class="modal-title">Create todo</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p><small>{{ description }}</small></p>
        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" name="Title" id="Title"
                [ngClass]="{'is-invalid': Title?.touched && Title?.invalid}" [(ngModel)]="model.Title" #Title="ngModel"
                required>
            <small id="titleErrorMsg" class="form-text text-danger invalid-feedback">Title is required.</small>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="" id="" cols="30" rows="6" class="form-control" name="Description"  [(ngModel)]="model.Description" #Description="ngModel"></textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <!-- <button type="submit" class="btn btn-outline-dark"
            [disabled]="createTodoForm.invalid || validationError">Create</button> -->
            <button type="submit" class="btn btn-outline-dark"
                [disabled]="createTodoForm.invalid">Create</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
    </div>
</form>

