<!-- <p>hero-owl-carousel works!</p> -->
<!-- <div>Some tags before</div> -->
<ng-container *ngIf="customOptions">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of sliderImages">
      <ng-template carouselSlide [id]="slide.id">
        <div class="slide-container hero-item | position-relative bg-warning">
          <img [src]="slide.src" [alt]="slide.alt" />
          <div class="descriptions | position-absolute">
            <div></div>
            <div class="p-3" style="background: rgba(0, 0, 0, .4);">
              <h3 class="text-neutral-500 fw-bold">
                {{ slide.discription.title }}
              </h3>
              <p class="text-danger-500 fw-semi-bold">
                {{ slide.discription.tagline }}
              </p>
            </div>
            <p class="text-accent-300 fw-semi-bold">{{ slide.salesLabel }}</p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-container>
<!-- <div>Some tags after</div> -->
