/* You can add global styles to this file, and also import other style files */
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import "./sass/main.scss";




.owl-nav{
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
}
